{% if file.href %}<a href="{{ file.href }}" class="prof-file-link">{% endif %}
{% if file.title_split %}
{% if file.title_prefix %}
<span class="prof-file-prefix prof-mono">{{ file.title_prefix }}</span>
{% endif %}
<span class="prof-file-local-path prof-mono">
{% if file.title_include_split %}
<span class="prof-file-include-prefix">{{ file.title_include_prefix }}</span><span class="prof-file-include-path">{{ file.title_include_path }}</span>
{% elif file.title_suffix_only %}
<span class="prof-file-suffix">{{ file.title_suffix | default(file.display_path | default(file.path)) }}</span>
{% else %}
<span class="prof-file-suffix">{{ file.title_suffix }}</span>
{% endif %}
</span>
{% else %}
<span class="prof-mono">{{ file.display_path | default(file.path) }}</span>
{% endif %}
{% if file.href %}</a>{% endif %}
